<head>
    <%- include('./partials/head.ejs', {title: `Edit ${fruit.name} | Fruit Finder`}) %>
    <link rel="stylesheet" href="/styles/pet-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit a Fruit</h2>
    </section>

    <form method="POST" action="/fruits/<%= fruit._id %>?_method=PUT">
        <!-- Name input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= fruit.name %>" required>
        <br>
        <!-- Color input -->
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="<%= fruit.color %>" required>
        <br>
        <!-- Ready to Eat input -->
        <label for="readyToEat">Ready to Eat</label>
    <!-- This line dynamically sets the checked attribute. If fruit.readyToEat evaluates to true,  -->
         <input type="checkbox" name="readyToEat" id="readyToEat" <%= fruit.readyToEat ? 'checked' : '' %> >
        <!-- the checked attribute will be included in the rendered HTML, making the checkbox appear as filled. I
        if fruit.readyToEat is false or undefined, the attribute will not be included, and the checkbox will be unchecked. --> 
       
        <input type="submit" value="Edit Fruit">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>